# General
.DS_Store
Thumbs.db
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node / npm
node_modules/
.npm/
.pnpm-store/
.nyc_output/
coverage/
*.pid

# Build output
/dist/
/build/
/out/

# Angular
.angular/

# TypeScript
*.tsbuildinfo

# IDE / editor
.vscode/
.idea/
*.iml

# OS
*.swp
*.swo

# Cache
.cache/
.tmp/
.npmrc
woter-library/*.tgz
woter-api/dist/server.js
woter-api/dist/middlewares/auth.js
woter-api/dist/routes/authentication/component.js
woter-api/dist/routes/authentication/domain-adapter.js
woter-api/dist/routes/authentication/router.js
woter-api/dist/routes/authentication/service.js
woter-api/dist/routes/authentication/validator.js
woter-api/dist/routes/user/component.js
woter-api/dist/routes/user/domain-adapter.js
woter-api/dist/routes/user/router.js
woter-api/dist/routes/user/service.js
woter-api/dist/routes/user/validator.js
